<section class="bottom">
    <section class="attribution">
        <section class="poweredby"><a class="icon-ghost" href="/impressum">Impressum</a></section>
        <a href="http://github.com/Reedyn/Saga">Built with <i class="fa fa-heart"></i> and Free and Open-Source Software</a>.
    </section>
</section>