<section class="bottom">
    <section class="attribution">
        <a href="http://github.com/Reedyn/Saga"><i class="fa fa-heart"></i></a><a class="icon-ghost" href="/impressum">Impressum</a>
    </section>
</section>